<div class="container bg-card">

  <ng-template #image [ngIf]="card.description.hasImage">
    <img [src]="card.description.image" >
  </ng-template>

  <ng-template #ship [ngIf]="!card.description.hasImage && card.description.type === 'SHIP'">
    <div class="col">
      <div class="row card-header "
           [ngClass]="{
           'header-color-green': card.description.color === 'GREEN',
           'header-color-black': card.description.color === 'BLACK',
           'header-color-yellow': card.description.color === 'YELLOW',
           'header-color-blue': card.description.color === 'BLUE',
           'header-color-red': card.description.color === 'RED'}">
        <div class="row">
          <p>{{card.description.coins}} <mat-icon>attach_money</mat-icon></p>
        </div>
        <div class="row">
          <p>{{card.description.name}}</p>
        </div>
      </div>
      <div class="row card-ship-image">
        <img src="assets/ship-placeholder.png">
      </div>

      <div class="row">
        <div class="col-1">
          <p>
            {{card.description.swords}}
          </p>
        </div>
        <div class="col-4">
          <img class="card-sword-image" src="assets/sword.png">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button (click)="sellShip()">sell</button>
        </div>
        <div class="col">
          <button (click)="destroyShip()">destroy</button>
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template #person [ngIf]="!card.description.hasImage && card.description.type === 'PERSON'">
    <div class="col">
      <div class="row card-header ">
        <div class="col-10 card-header-person-props"
             [ngClass]="{
           'header-color-green': card.description.color == 'GREEN',
           'header-color-black': card.description.color == 'BLACK',
           'header-color-yellow': card.description.color == 'YELLOW',
           'header-color-blue': card.description.color == 'BLUE',
           'header-color-red': card.description.color == 'RED'}">

        </div>

        <div class="col-1">
          <p>{{card.description.points}}</p>
        </div>
        <div class="col-1"><mat-icon>security</mat-icon></div>

      </div>

      <div class="row card-person-image">
        <img src="assets/person.png">
      </div>

      <div class="row">
        <div class="col">
          {{card.description.coins}}
        </div>
        <div class="row">
          <mat-icon>attach_money</mat-icon>
        </div>
      </div>
      <div class="row">
        <p [textContent]="card.description.name"></p>
      </div>

      <div class="row">
        <div class="col">
          <button (click)="buyPerson()">buy</button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #otherCard [ngIf]="!card.description.hasImage && card.description.type !== 'SHIP' && card.description.type !== 'PERSON'">
    <div class="col" >
      <div class="row"><p>id: {{card.id}}</p></div>
      <div class="row"><p>name: {{card.description.name}}</p></div>
      <div class="row"><p>points: {{card.description.points}}</p></div>
      <div class="row"><p>coins: {{card.description.coins}}</p></div>
      <div class="row"><p>type: {{card.description.type}}</p></div>
    </div>
  </ng-template>

</div>
