.card-header {
  height: 20%;
  width: 100%;
  margin: auto;
}
.card-ship-image {
  height: 50%;
  width: 100%;
}

.card-person-image {
  height: 50%;
  width: 100%;
}

.card-header-person-props {
  height: 40px;
  width: 100px;
  margin: auto;
}

.header-color-green {
  background-color: green;
}
.header-color-black {
  background-color: #181717;
}
.header-color-yellow {
  background-color: yellow;
  color: black;
}
.header-color-blue {
  background-color: blue;
}
.header-color-red {
  background-color: red;
}

.card-sword-image {
  width: 70%;
  height: 70%;
}

.card-person-image {
  width: 70%;
  height: 70%;
}

.card_btns_row {
  margin-top: -30px;
}


