<div class="app">

  <div class="container">
    <div class="row">
      <div class="col-2"><a routerLink="/home">home</a></div>
      <div class="col-2"><a routerLink="/test">my tests</a></div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <ng-template #errorMessageModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Error</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p [textContent]="errorMessage"></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('close')">Ok</button>
    </div>
  </ng-template>

  <ng-template #infoMessageModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">info</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3 [textContent]="serverMessageType"></h3>
      <p [textContent]="serverMessage"></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('close')">Ok</button>
    </div>
  </ng-template>

</div>
