
.player-main-border {
  border: blue dashed 4px;
}

.player-active-border {
  border: green dashed 4px;
}

.player-waiting-border {
  border: black dashed 4px;
}

.player-coin-image {
  image-rendering: initial;
}

.display-inline {
  display: inline-block;
}

.player-property-icon {
  margin: 5px;
  width: 2em;
  height: 2em;
}

.player-points-icon {
  margin: 10px;
  width: 1.7em;
  height: 2em;
}

.players-cards {
  vertical-align: center;
}
